.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column-reverse;
  width: 30%;
}

.responsive-canvas {
  width: 100%;
  border: 1px solid black;
}
