.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  /* max-width: 1280px; */
  padding: 0;
  margin: 32px 50px;  
  list-style-type: none;
  overflow-y:scroll;
  max-height: calc(100vh - 200px);
}
  
.gallery-grid li {
  aspect-ratio: 4 / 3;
}