.remove-list {
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}
.remove-button-style {
    appearance: none;
    background-color: transparent;
    padding: 0px 0px;
    cursor: pointer;
    border: none;
}