@media screen and (max-width: 560px) {
  .editor-page {
    flex-direction: column;
  }

  .canvas-container {
    width: 100%;
  }

  .canvas {
    margin-top: 0;
  }

  .logo {
    font-size: 22px;
  }

  .gallery-grid {
    grid-column: 1;
    gap: 10px;
    margin: 20px auto;
  }

  .editor-page {
    gap: 20px;
  }

  .meme-editor {
    bottom: 50px;
    margin: 0 auto;
    border: 0;
  }

  .navbar-wrapper {
    position: relative;
  }

  .navbar {
    position: absolute;
    top: 80px;
    right: 0;
    flex-direction: column;
    width: 20%;
    background-color: var(--clr2);
    color: var(--clr1);
  }
  .about-page-wrapper {
    padding: 30px 0;
  }

  .about-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .about-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .about-container p {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: justify;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
  }
}

@media screen and (min-width: 560px) {
  .nav-icon-2 {
    display: none;
  }

  .navbar {
    display: flex;
  }
}

@media screen and (max-width: 920px) {
  .editor-page {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
