@media screen and (max-width: 460px) {
  .editor-page {
    flex-direction: column;
    gap: 0px;
    margin-block-start: 0;
    align-items: flex-start;
  }
  .canvas-container{
    width: 100%;
  }
  .logo{
    font-size: 22px;
    padding-left: 10px;
  }
  .navbar-wrapper{
    height: 10px;
    padding-top: 20px;
  }
  .gallery-grid{
    grid-column: 1;
    gap: 10px;
    margin: 20px auto;
  }
  .editor-page{
    gap: 20px;
  }
  .meme-editor{
    margin: 0 auto;
  }
  .flexible{
    margin-top:  22px;
    margin-inline-start: 12px;
  }
  .footer{
    bottom: 0;
  }

}