:root {
  --clr1: #ffffff;
  --clr2: #292929;
  --clr3: #c2c2c2;
  --clr4: #58c93a;
  --clr5: #818181;
  --clr6: #e5e5e5;
  --clr7: #606060;
  --clr8: #4f4e4e;
  --clr9: #f2f2f2;
  --clr10: #e1e0e0;
  --clr11: #516fad;
  --clr12: #c2c1c1;
  --clr13: #f8f8f8;
  --clr14: #a6a6a6;
}
